<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page with hbs</title>
</head>

<body>
    {{> header}}
    <h2>I charge $100 an hour!</h2>
    <p>Contact me on email or Github or Twitter</p>
    <pre>I do Tango and am fluent in {{languages}}</pre>


  {{> footer}}

</body>

</html>
